
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href=".http://twitter.github.io/bootstrap/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Promocionados</h1>
      <p>Cantidad de horas:<a class="editable" data-value="<%=configuration.cantidad_horas%>" data-name="cantidad_horas" data-type="number" min="1" data-pk="1" data-url="/post_config" data-original-title="Insert"></a></p>
      <p>Usuarios VIP:<a href="#" id="intereses_select2" data-name="users_vip" data-value="<%=configuration.users_vip%>" data-type="select2" data-pk="1" data-url="/post_config" data-original-title="Agrega usuarios vip"></a></p>
    
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>picture</th>
      <th>code</th>
      <th>transaccion_id</th>
      <th>Start</th>
      
    </tr>
  </thead>
  <tbody>

 <% for(var i=0; i<promotions.length; i++) {
var el = promotions[i];
  %>
             <tr>
      <td><%=el.username%></td>
      <td><img src="<%=el.picture%>" width="50" /></td>
      <td><%=el.code%></td>
      <td><%=el.transaction_id%></td>
      <td><%=el.start%></td>
    </tr>
              <%}%>

   
  </tbody>
</table>
<hr/>
<h1>Edicion del CSS (nico)</h1>

<h2>FILE1</h2>
<a href="#" class="editable" data-original-title="Insert" data-url="/post_config" id="comments" data-value="<%if(configuration.file1){%><%=configuration.file1%><%}else{%><%}%>" data-name="file1" data-type="textarea" data-pk="1"></a>
<h2>FILE2</h2>
<a href="#" class="editable" data-original-title="Insert" data-url="/post_config" id="comments" data-value="<%if(configuration.file2){%><%=configuration.file2%><%}else{%><%}%>" data-name="file2" data-type="textarea" data-pk="1"></a>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.io/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>
    <!--SELECT2-->

     <script src="http://vitalets.github.io/x-editable/assets/momentjs/moment.min.js"></script> 

        <script src="http://vitalets.github.io/x-editable/assets/select2/select2.js"></script> 
 <link href="http://vitalets.github.io/x-editable/assets/select2/select2.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/js/bootstrap-editable.min.js"></script>

<script>
$.fn.editable.defaults.mode = 'popup';
$.fn.editable.defaults.placement = 'right';

$(document).ready(function(){
             


 $(function(){
// var preload_data = [
//                   { id: 'Fotografia', text: 'Fotografia'}
//                   , { id: 'Bailar', text: 'Bailar'}
//                   , { id: 'Estar en Chatme.fm', text: 'Estar en Chatme.fm' }
//                   , { id: 'Llevar dolares a panama', text: 'Llevar dolares a panama' }
//                   , { id: 'Volar con bolsos', text: 'Volar con bolsos'}
//                   , { id: 'Crear empresas', text: 'Crear empresas' }
//                   , { id: 'Vaciar empresas', text: 'Vaciar empresas' }
//                 ];


var preload_data = [];
<% users.forEach(function(el,index){%>
preload_data.push(<%="'"+el.username+"'"%>);
<%});%>


   
                  
                    $('#intereses_select2').editable({
                        //source: preload_data,
                        select2: {
                           //multiple: true,
                            tags:preload_data,
                          maximumInputLength: 40
                        }
                    });

 $('.editable').editable();

                });



             
});

</script>
<script>
$(function(){
    $('#comments').editable({
        url: '/post',
        title: 'Enter comments',
        rows: 10
    });
});
</script>
  </body>
</html>
