<html>
<head>
    
  <meta property="fb:app_id"          content="275093569291809" /> 
<meta property="og:url"             content="http://chatme.fm/nick/<%= fb_user.username %>" /> 
<meta property="og:title"           content="Hace click! Entra aca! y chatea conmigo anonimamente!" /> 
<meta property="og:image"           content="http://www.marketlikeachick.com/wp-content/uploads/2009/06/chat-bubbles-150x150.png" /> 
<meta property="og:description"           content="En Chatme.fm vas a chatear anonimamente conmigo!!" /> 

<!-- <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script> -->
 <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src='http://datejs.googlecode.com/svn/trunk/build/date.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/anonimo.js"></script>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
<link rel="stylesheet" href="/client.css"/>

    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/social-buttons.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
    
     <link href="http://wbpreview.com/previews/WB009X3K4/buttons.css" rel="stylesheet" />
    
<style type="text/css">
    body{padding-top: 10px;}
    h1,h2,h3{color: rgb(41, 70, 125); }


    li.message{
        width: 550px;
        background-color: white;
        margin-left: 10px;
    }
</style>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

</head>
<body>

<style>
#beep-one{
  display: none;
}
 </style>
<audio id="beep-one" controls="controls" preload="auto">
        <source src="/sounds/beep.mp3">
        <source src="/sounds/beep.ogg">
        Your browser isn't invited for super fun time.
      </audio>
<!--- PROBAMOS-->
<style>
  #menu{
    display: block;
width: 100%;
height: 42px;
margin: auto;
padding: 0px;
position: fixed;
z-index: 8000;
background-image: url("http://ask.fm/images/bg-menu-blue-vintage.png");
background-repeat: repeat-x;
background-position: top left;
  }
#logo{
 /* display: block;*/
display:none;
width: 98px;
height: 40px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
padding-bottom: 0px;
padding-top: 0px;
padding-left: 28px;
padding-right: 0px;
border: none;
background-image: url("http://ask.fm/images/logo-green.png");
background-position: top center;
background-repeat: no-repeat;
float: left;
}
#menuCenter {
display: block;
position: relative;
width: 716px;
height: 42px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
padding-right: 17px;
padding-left: 0px;
padding-bottom: 0px;
padding-top: 0px;
}
.menu-top {
top: 0px;
left: 0px;
}
a.link-login {
display: block;
padding-left: 20px;
padding-right: 20px;
padding-top: 4px;
padding-bottom: 4px;
margin-right: 0px;
margin-left: 10px;
margin-bottom: 0px;
margin-top: 9px;
text-align: center;
font-weight: normal;
font-size: 12px;
line-height: 14px;
border-radius: 5px;
-moz-border-radius: 5px;
color: white;
text-decoration: none;
cursor: pointer;
float: right;
background-color: #2D4D71;
}
.bordered-css{
 -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
</style>
<div id="menu" class="menu-top">
      <div id="menuCenter">

        <a href="/">
          <div id="logo"></div>
        </a>

        

          <a href="/" class="link-login">
            Entrar
          </a>

          
          <a href="/" class="link-login" id="create_account_link" style="display:block">Crear una cuenta</a>

          
            
          
        

      </div>
    </div>
<!--END PROBAMOS -->


  <style>
  body { background: white;
       background-attachment: fixed }
       #status{ font-weight: bold;}
  </style>
  
  <input type="hidden" id="last_online" value="" />
<div class="row" style="margin-top:50px;">
  <div class="span8 offset3 bordered-css " style="background-color:white;">
      <div class="row-fluid">
       <div class="span4">
         
<img  class="bordered-css" src="https://graph.facebook.com/<%= fb_user.id %>/picture?width=150&height=150" />
       </div>
       <div class="span4">
         <h3><%= fb_user.displayName %></h3>
        
         <p id="status"><span style='color:blue'>Verificando conectividad...</span></p>
         <p style="display:none" id="fb_user_name"><%= fb_user.username %></p>
       </div>
       <div class="span4 pagination-centered">
         <button class="btn btn-primary" onclick="alert('En pocos dias disponible!')" style="margin-top:50px">Seguir</button>
       </div>
    </div>
      <div style="display:none">
      <% if(user) { %>
      <b>User: </b> <label id="user"><%= user %></label> <!-- <a href="/logout" style='color:blue;text-decoration: underline'> Log out</a> -->
      <% }else{%>
          <script>
           //location.reload();
           </script>
      <% } %></div>
</div>


</div>


<div id="channel" class="bordered">

    <div id="msgs">
       

        <ul>
            <li class="message" style="display: none">
                <span class="user"></span><span class="message"></span>
                <span class="time"></span>
            </li>
            <li class="control" style="display: none">
                <span class="user"></span>&nbsp;<span class="message"></span>
                <span class="time"></span>
            </li>
        </ul>
    </div>
    <div id="input">
        <form id="form-message"><input type="text" data-chat-to="<%= nick %>" id="message"/></form>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39678978-1', 'chatme.fm');
  ga('send', 'pageview');

</script>
</body>
</html>