
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ChatMe.fm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/css/bootstrap-editable.css">
        <link href="http://vitalets.github.io/x-editable/assets/select2/select2.css" rel="stylesheet">


    
    <link href="/chatme/css/bootstrap2.css" rel="stylesheet">
    <link href="/chatme/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/chatme/css/docs.css" rel="stylesheet">
    <link href="/chatme/js/google-code-prettify/prettify.css" rel="stylesheet">
    
<link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
 <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/chatme/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/chatme/img/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/chatme/img/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/chatme/img/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/chatme/img/ico/favicon.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html"><img src="/chatme/img/logo3.png"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                            <li class="">
                <a href="chat.html">Conversaciones</a>
              </li>
              <li class="active">
                <a href="">Perfil</a>
              </li>
              <li class="">
                <a href="amigos.html">Amigos</a>
              </li>
              <li class="">
            <a href="explorar.html">Explorar</a>
            </li>
            <li class="">
              <a href="index.html">Salir</a>
              </li>
                          </ul>
          </div>
        </div>
      </div>
    </div>

<div class="hero-unit">
  <div id="bgavatar">
  <% if(typeof(fb_user.picture)!='undefined' && fb_user.picture!=''){  %>
  <img id="upload" src="<%=fb_user.picture%>" class="img-polaroid" alt="140x140" style="width: 140px; height: 140px;" />
  <% }else{ %>
  <img id="upload" src="https://graph.facebook.com/<%=fb_user.id%>/picture?width=140&height=140" class="img-polaroid" alt="140x140" style="width: 140px; height: 140px;" />
  <% } %>

<% if(user_logged==fb_user.username){%>
 <h1><a id="username_editable" data-type="text" data-pk="1" data-url="/post_username" data-original-title="Insert your username"><%= fb_user.username %></a></h1>
  <p id="fb_user_name_id" style="display:none"><%= fb_user.id %></p>
  <p id="fb_user_name" style="display:none"><%= fb_user.username %></p>
  <div class="datos"><p>
    <a id="displayName" data-type="text" data-pk="<%= fb_user.username %>" data-url="/post" data-original-title="Insert your name and lastname"><%= fb_user.displayName %></a>,
   vivo en <a id="city"><%= fb_user.location %></a><br>

<a href="#" id="age" data-type="combodate" data-value="<%= fb_user.birthday %>" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY"  data-pk="<%= fb_user.username %>" data-url="/post"  data-original-title="Select Date of birth"></a>
<br>Intereses: 
<a href="#" id="intereses_select2" data-value="<%= fb_user.intereses %>" data-type="select2" data-pk="<%= fb_user.username %>"  data-url="/post" data-original-title="Agrega intereses"></a>
  </p>
<p>
  
  
</p>
    </div>
<% }else{ %>
 <h1 id="fb_user_name"><%= fb_user.username %></h1>
  <p id="fb_user_name_id" style="display:none"><%= fb_user.id %></p>
  <div class="datos"><p>
    <%= fb_user.displayName %>

<%if(typeof(fb_user.location)!='undefined'){%>,vivo en <%= fb_user.location %> <%}%>
<%if(typeof(fb_user.birthday)!='undefined'){%><br>Cumple años el <%= fb_user.birthday %>, <%}%>
    
 
<%if(typeof(fb_user.intereses)!='undefined'){%>
<br>Intereses:
<%fb_user.intereses.forEach(function(el, index) {%>
<%if(el!='undefined'){%>
  <a href="#" ><%= el %></a>
  <%}%>
<%});%>
<%}%>
  </p>
<p>
  
  
</p>
    </div>

<% } %>

 
  <% if(user_logged!=''){%>

            <% if(follower==true){%>
            <a class="btn btn-info unfollow" data-user="<%=user_logged%>" >
             Dejar de Seguir
            </a>
            <%}else{%>
            <a class="btn btn-info follow" data-user="<%=user_logged%>" >
     Seguir
    </a>
            <%} %>


  <%}else{%>
  <a class="btn btn-info not-follow">
     Seguir
    </a>

  <%} %>
    
  </p><% if(user_logged==fb_user.username){%><div class="portada">Cambiar Portada</div><%}%>
</div></div>
<div class="container">   <div id="iconos"><a class="btn btn-seg" href="#"><strong>125</strong> Seguidores</a>
<a class="btn btn-pun" href="#"> Puntuación <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong> Me Gusta</a>
<a class="btn btn-reg" href="#"><strong>15</strong> Regalos</a>

</div>
<div id="titulo"><h1>Pregunta lo que quieras. Es anonimo!
<span style="display:none" id="user"><%= user_anon %></span></h1><div id="botones"><a class="btn btn-puntuar" href="#">Puntuar</a><a class="btn btn-regalo2" href="#">Dar un Regalo</a><a class="btn btn-denunciar" href="#">Denunciar</a></div></div>

<% if(user_online==true){%>
<div id="channel">
   <div id="msgs">
       

        <ul>
            <li class="message" style="display: none">
                <span class="user"></span><span class="message"></span>
                <span class="time"></span>
            </li>
            <li class="control" style="display: none">
                <span class="user"></span>&nbsp;<span class="message"></span>
                <span class="time"></span>
            </li>
        </ul>
    </div>
 <div id="input">
        <form id="form-message"><input type="text" data-chat-to="<%= nick %>" id="message"/></form>
    </div></div>

<%}else{%>
<div id="no-conectado">El usuario no esta conectado en este momento, tomate un café. </div>

 <%} %>


<div id="menu-ab">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
<ul class="nav">
                <li class="">
    <a href="">Privacidad</a>
  </li>
  <li class="">
    <a href="">Condiciones</a>
  </li>
  <li class="">
    <a href="">Quienes Somos</a>
  </li>
  <li class="">
    <a href="">Publicidad</a>
  </li>
  <li class="">
    <a href="">Contáctanos</a>
  </li><li class="">
    <a href="">Blog</a>
  </li>
              </ul><div class="cm"> © 2013 ChatMe.fm</div>
    </div>
  </div></div>
</div>



    <!-- Footer
    ================================================== -->
    


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/chatme/js/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/anonimo.js"></script>
    <script src="/chatme/js/bootstrap-transition.js"></script>
    <script src="/chatme/js/bootstrap-alert.js"></script>
    <script src="/chatme/js/bootstrap-modal.js"></script>
    <script src="/chatme/js/bootstrap-dropdown.js"></script>
    <script src="/chatme/js/bootstrap-scrollspy.js"></script>
    <script src="/chatme/js/bootstrap-tab.js"></script>
    <script src="/chatme/js/bootstrap-tooltip.js"></script>
    <script src="/chatme/js/bootstrap-popover.js"></script>
    <script src="/chatme/js/bootstrap-button.js"></script>
    <script src="/chatme/js/bootstrap-collapse.js"></script>
    <script src="/chatme/js/bootstrap-carousel.js"></script>
    <script src="/chatme/js/bootstrap-typeahead.js"></script>
    <script src="/chatme/js/bootstrap-affix.js"></script>

    <script src="/chatme/js/holder/holder.js"></script>
    <script src="/chatme/js/google-code-prettify/prettify.js"></script>

    <script src="/chatme/js/application.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39678978-1', 'chatme.fm');
  ga('send', 'pageview');
$("a").tooltip();
</script>
<style type="text/css">
  #msgs{
   background-color: white;
height: 300px;
overflow-y: scroll;
  }
  span.self{color:red;}

</style>
 <div style="display:none"> 
<audio id="beep-one" controls="controls" preload="auto">
        <source src="/sounds/beep.mp3">
        <source src="/sounds/beep.ogg">
        Your browser isn't invited for super fun time.
      </audio>
</div>

<% if(user_logged==fb_user.username){%>
<!-- filepicker.io-->
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">
  
$(document).ready(function(){

filepicker.setKey('A7nALgSYjQaSMszgI0sigz');
      $("#upload").click(function(e){
            e.preventDefault();
            filepicker.pick(function(FPFile){


                                            $.ajax( { url: "https://api.mongolab.com/api/1/databases/heroku_app12042861/collections/users?apiKey=ow2pQfeu77QiWIfth6rKt1C0wReEOct6&u=true&q={'id':'<%= fb_user.id %>'}",
                                                        
                                                        data: JSON.stringify( { "$set" : {"picture":FPFile.url+"/convert?w=140&h=140&fit=clip"}} ),
                                                        type: "PUT",
                                                        contentType: "application/json" } ).done(function(data){
                                                          $("#upload").attr("src",FPFile.url+"/convert?w=140&h=140&fit=clip");
                                                          console.log(FPFile.url);
                                                          
                                                      });



              
          });
      });
      $(".portada").click(function(e){
            e.preventDefault();
            filepicker.pick(function(FPFile){


              $.ajax( { url: "https://api.mongolab.com/api/1/databases/heroku_app12042861/collections/users?apiKey=ow2pQfeu77QiWIfth6rKt1C0wReEOct6&u=true&q={'id':'<%= fb_user.id %>'}",
                                                        
                                                        data: JSON.stringify( { "$set" : {"cover":FPFile.url}} ),
                                                        type: "PUT",
                                                        contentType: "application/json" } ).done(function(data){
                                                          var style_tag = "background: #EEE url("+FPFile.url+") 50% -400px";
                                                            $(".hero-unit").attr("style",style_tag);
                                                               console.log(FPFile.url);
                                                          
                                                      });


              
          });
      });
});

</script>
<!-- fin de filepicker.io -->
<%}%>

 <% if(typeof(fb_user.cover)!='undefined' && fb_user.cover!=''){  %>

<style type="text/css">
  .hero-unit{
    background: #EEE url(<%=fb_user.cover%>) 50% -400px;
    }


</style>
  <% }else{ %>
  
<style type="text/css">
.hero-unit{
    background: #EEE url(http://sphotos-b.ak.fbcdn.net/hphotos-ak-snc6/408535_539737279402464_158820707_n.png) 50% -700px;
    }
  


</style>
  <% } %>



<!-- ponemos bootstrap editable -->
<!-- select2 --> 

<% if(user_logged==fb_user.username){%>
 <script src="http://vitalets.github.io/x-editable/assets/momentjs/moment.min.js"></script> 

        <script src="http://vitalets.github.io/x-editable/assets/select2/select2.js"></script> 

<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/js/bootstrap-editable.min.js"></script>

<script>
$.fn.editable.defaults.mode = 'popup';
$.fn.editable.defaults.placement = 'right';

$(document).ready(function(){
                $(function(){
                  var preload_data = [
                  { id: 'Fotografia', text: 'Fotografia'}
                  , { id: 'Bailar', text: 'Bailar'}
                  , { id: 'Estar en Chatme.fm', text: 'Estar en Chatme.fm' }
                  , { id: 'Llevar dolares a panama', text: 'Llevar dolares a panama' }
                  , { id: 'Volar con bolsos', text: 'Volar con bolsos'}
                  , { id: 'Crear empresas', text: 'Crear empresas' }
                  , { id: 'Vaciar empresas', text: 'Vaciar empresas' }
                ];
                    $('#intereses_select2').editable({
                        source: preload_data,
                        select2: {
                           multiple: true
                        }
                    });
                });
                $(function(){
                            $('#displayName').editable({
                                url: '/post',
                                title: 'Enter your name'
                            });
                            $('#username_editable').editable({
                                url: '/post_username',
                                title: 'Enter your username'
                                ,
                                success: function(data, config) {
                                   alert("redireccionar al nuevo perfil");            
                                }
                            });
                            $('#city').editable({
                                url: '/post',
                                title: 'Enter your city'
                            });
                             $('#age').editable({
                                format: 'yyyy-mm-dd',    
                                viewformat: 'dd/mm/yyyy',    
                                datepicker: {
                                        weekStart: 1
                                   }
                                });
                });
});

</script>
<%}%>


  </body>
</html>
