
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ChatMe.fm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
   <link href="/chatme/css/bootstrap.css" rel="stylesheet">
    <link href="/chatme/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/chatme/css/docs.css" rel="stylesheet">
    <link href="/chatme/js/google-code-prettify/prettify.css" rel="stylesheet">
    
    
<link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
 <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/chatme/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/chatme/img/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/chatme/img/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/chatme/img/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/chatme/img/ico/favicon.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html"><img src="/chatme/img/logo3.png"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                            <li class="">
                <a href="/talks">Conversaciones</a>
              </li>
              <li class="active">
                <a href="/profile">Perfil</a>
              </li>
              <li class="">
                <a href="/friends">Amigos</a>
              </li>
              <li class="">
            <a href="/explore">Explorar</a>
            </li>
            <li class="">
              <a href="/logout">Salir</a>
              </li>
                          </ul>
          </div>
        </div>
      </div>
    </div>


<div class="container">   <div id="amigos">
        <div id="destacados">
        <h1><strong>★</strong> Destacados</h1>
                <div id="caja">
        <div id="foo0" class="row" >
          <% if(promotions!=null){%>
          <% cantidad = 0; %>
          <% while(cantidad<=15){ %>
              <% for(var i=0; i<promotions.length; i++) { %>
              <div style="text-align:center;float:left">
            <a title="Entra y habla con <%=promotions[i].username%> - <%=promotions[i].start%>" data-toggle="tooltip"  alt="" target="_blank" href="/<%=promotions[i].username%>">
            <img width="100"  src="<%=promotions[i].picture%>" />
            </a> </div>
              <% cantidad++;%>
              <%}%>

          <%}%>

           
          <%}%>
            
            
            
              
                  
                     </div></div>
     
                  
      <a  class="btn btn-info" id="aparecer_aqui">★ Aparecer Aquí ★</a>  
      <p id="aparecer_aqui_descripcion" style="text-align:center;display:none">
        Es fácil! Convertite en usuario descadado por 24 hs!. Manda un sms con CODE al 27777 por tu celular!<br/>

 <script type="text/javascript" src="https://payment.allopass.com/buy/checkout.apu?ids=298783&idd=1272560&lang=es"></script>

      </p>
</div> 

<% if(typeof(user_obj.set_explore)=='undefined'){%>
<!-- inicia el seteo-->
<div id="destacados" class="box_age_city">
  <div class="row">
    <div class="span12">
    <h3>Para que los usuarios puedan encontrarte debes seleccionar correctamente tu ciudad y tu edad</h3>
<p>Seleecione ciudad: <input id="set_city" type="text" name="query" value="" class="search-input"/> y su fecha de nacimiento: <input type="text" id="set_bithday" value="<%=user_obj.birthday%>"></p><p>
No te volveremos a pedir estos datos una vez guardados<br/>
<button class="btn btn-info" id="set_city_age">Guardar</button>
</p>

  </div>
</div>

</div>

<%}%>
<!--fin set age/buthr-->
<div id="destacados" >      
<div class="row">
<div class="span3"><h2>Quiero:</h2><label class="checkbox">
   <input type="checkbox"> Chatear
 </label><label class="checkbox">
    <input type="checkbox"> Hacer Amigos
  </label><label class="checkbox">
     <input type="checkbox"> Una Cita
   </label></div>
<div class="span3"><h2>Con:</h2><label class="checkbox">
   <input name="sex" id="sex_male" value="male" type="checkbox"> Chicos
 </label><label class="checkbox">
    <input type="checkbox" id="sex_female" name="sex" value="female"> Chicas
  </label><select id="select01" style="display:none">
                  <option>Edad</option>
                  <option>18-25</option>
                  <option>25-30</option>
                  <option>30-35</option>
                  <option>35-40</option>
                                    <option>40-45</option>
                                                                        <option>45-50</option>
                                    
                  
                </select></div>
<div  class="span3"><h2>Vive en:</h2>
<input type="text" name="query" value="" class="search-input" id="search-input"/>
  </div>
                                                                      


</div>
 <br><a href="#" id="button_explorar" class="btn btn-info">Explorar</a>  

</div>
<div class="row-fluid">
            <ul class="thumbnails">
             
 <% for(var i=0; i<users.length; i++) { %>
      
      <%
      bandera = "";
      users_online.forEach(function(el, index) {
      if(el==users[i].username){
        bandera = "online'";
      }
}); %>

 <li class="span3 status_<%=bandera%>">
                
              
                <div class=" <%=bandera%>  thumbnail">
                  <a href="/<%= users[i].username %>"><img src="<%= users[i].picture %>" class="img-polaroid" ></a>
                  <div class="caption">
                    <h3><%= users[i].username%></h3>
                    <% if(users[i].location!=''){ %>
                      <p>vivo en <%= users[i].location %></p>
                      <%}else{%>
                      <p style="color:white">...</p>
                      <%}%>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div>
                  
                    <a href="#" data-username="<%= users[i].username%>" username="<%= users[i].username%>" class="btn btn-info follow following">Seguir</a> 

                  </p>
                  </div></div>
                
              </li>

    
    <% } %>


             
           

            </ul>
          </div>
</div>




<div id="menu-ab">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
<ul class="nav">
                <li class="">
    <a href="">Privacidad</a>
  </li>
  <li class="">
    <a href="">Condiciones</a>
  </li>
  <li class="">
    <a href="">Quienes Somos</a>
  </li>
  <li class="">
    <a href="">Publicidad</a>
  </li>
  <li class="">
    <a href="">Contáctanos</a>
  </li><li class="">
    <a href="">Blog</a>
  </li>
              </ul><div class="cm"> © 2013 ChatMe.fm</div>
    </div>
  </div></div>
</div>



    <!-- Footer
    ================================================== -->
    


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/chatme/js/jquery.js"></script>
    <script src="/chatme/js/bootstrap-transition.js"></script>
    <script src="/chatme/js/bootstrap-alert.js"></script>
    <script src="/chatme/js/bootstrap-modal.js"></script>
    <script src="/chatme/js/bootstrap-dropdown.js"></script>
    <script src="/chatme/js/bootstrap-scrollspy.js"></script>
    <script src="/chatme/js/bootstrap-tab.js"></script>
    <script src="/chatme/js/bootstrap-tooltip.js"></script>
    <script src="/chatme/js/bootstrap-popover.js"></script>
    <script src="/chatme/js/bootstrap-button.js"></script>
    <script src="/chatme/js/bootstrap-collapse.js"></script>
    <script src="/chatme/js/bootstrap-carousel.js"></script>
    <script src="/chatme/js/bootstrap-typeahead.js"></script>
    <script src="/chatme/js/bootstrap-affix.js"></script>

    <script src="/chatme/js/holder/holder.js"></script>
    <script src="/chatme/js/google-code-prettify/prettify.js"></script>

    <script src="/chatme/js/application.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39678978-1', 'chatme.fm');
  ga('send', 'pageview');
$("a").tooltip();
</script>
<script>
 
$("#aparecer_aqui").click(function (e) {
  e.preventDefault();
$("#aparecer_aqui_descripcion").toggle();
var html_button = "<img style='width:200px;' src='http://micronichosrentables.eu/wp-content/uploads/2012/12/boton_comprar_ahora.png' />";
$("a.ap-payment-button").html(html_button);
});
</script>

<style type="text/css">
  #columns {
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 4;
    column-gap: 15px;
    column-fill: auto;
}

.pin { -moz-column-break-inside: avoid; -webkit-column-break-inside: avoid; column-break-inside: avoid; display: inline-block; margin: 0 2px 15px; padding: 15px; border: 2px solid #FAFAFA; box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); background: #FEFEFE; background-image: linear-gradient(45deg, #FFF, #F9F9F9); }
@media all and (min-width: 960px) {
    #columns {
        column-count: 4;
    }
}
@media all and (min-width: 1170px) { #columns { column-count: 5; } }


</style>
<!-- explorar -->
<script type="text/javascript">
  
  $("#button_explorar").click(function(e){
    e.preventDefault();
    
    var sex_female = $("#sex_female").is(":checked");
    var sex_male = $("#sex_male").is(":checked");
    var ciudad =$.trim($("#search-input").val());
    var edad = $("#select01 option:selected").html();
    var variables = $.param({sex_female:sex_female,sex_male:sex_male,ciudad:ciudad,edad:edad});
    $(".thumbnails").load("/explore?"+variables+" .thumbnails li");
  });
</script>

<script type="text/javascript">
  
  $(document).ready(function(){
  // use this hash to cache search results
  //http://tatiyants.com/how-to-use-json-objects-with-twitter-bootstrap-typeahead/
  $('.search-input').typeahead({

    source: function (query, process) {
        // return $.get('/typeahead', { query: query }, function (data) {
        //     return process(data);
        // });
          states = [];
            map = {};
        return $.ajax({
          url: "http://ws.geonames.org/searchJSON",
          dataType: "jsonp",
          data: {
            featureClass: "P",
            style: "full",
            maxRows: 12,
            name_startsWith: query
          },
          success: function( data ) {
            var respuesta = $.map( data.geonames, function( item ) {
              return item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName;
              // return {
              //  // label: ,
              //   //value: item.name
              // }
            });
            //console.log(respuesta);
            return process(respuesta);
          }
        });


    },
    updater: function (item) {
        
          
          return item;
      }
});
  // $('#search-input').typeahead({
  //     property: 'name',
  //   items:11,
  //   onselect: function (obj) {
  //       var obj = JSON.parse(obj);

  //       // You still can use the manufacturer_id here 
  //       console.log(obj.name);

  //       return obj.name;
  //   },
  //     source:function(typeahead, query){
  //       $.ajax({
  //         url: "http://ws.geonames.org/searchJSON",
  //         dataType: "jsonp",
  //         data: {
  //           featureClass: "P",
  //           style: "full",
  //           maxRows: 12,
  //           name_startsWith: query
  //         },
  //         success: function( data ) {
  //           var elementos = new Array;
  //           var resultado = $.map( data.geonames, function( item ) {
  //             return {
  //               label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName
  //               //value: item.name
  //             }
            
             
  //           });
  //           typeahead.process(resultado);
  //         }
  //       });
  //         }
  // });
});
</script>
<script type="text/javascript" language="javascript" src="/chatme/js/carrousel-plugin/jquery.carouFredSel-6.2.1-packed.js"></script>
  <script type="text/javascript">
$(document).ready(function(){

  $('#foo0').carouFredSel({
    circular: true,
    infinite    : true,
    width       : null,
    height: "100px",
//fx=scroll,directscroll,fade,crossfade,cover,cover-fade,uncover,uncover-fade
    scroll:{pauseOnHover: "resume",duration:2000,fx:"crossfade"

}

  });
});
  </script>
<!-- BEGIN SOCKET FOLLOW-->
<script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

     var host = window.location.host.split(':')[0];
        var socket = io.connect('http://' + host, {reconnect:false, 'try multiple transports':false});
        var intervalID;
        var reconnectCount = 0;

        socket.on('connect', function () {
            console.log('connected');
        });
        socket.on('connecting', function () {
            console.log('connecting');
        });


        </script>
<script type="text/javascript">
  $(document).ready(function(){
      /* BEGIN FOLLOW*/
         $('#columns').on('click', '.follow', function(e) {
             e.preventDefault();
             socket.emit("follow_user",JSON.stringify({"user":'<%=user.username%>',"follow_to":$(this).data("user")}));
             //console.log("socket:"+socket.id);
            console.log("follow");
            $(this).text("Dejar de seguir");
            $(this).removeClass("follow");
            $(this).addClass("unfollow");
            
        });
          $('#columns').on('click', '.unfollow', function(e) {
             e.preventDefault();
             socket.emit("unfollow_user",JSON.stringify({"user":'<%=user.username%>',"follow_to":$(this).data("user")}));
            console.log("unfollow");
            $(this).text("Seguir");
            $(this).removeClass("unfollow");
            $(this).addClass("follow");
        });
       $('.not-follow').click(function(e){
        e.preventDefault();
        alert("debe loguearse");
       });
       /* END FOLLOW*/
  });
</script>
<!-- END SOCKET FOLLOW-->


<script type="text/javascript">
  //hago push de todos los folowers
  //foreach de followers
  $(document).ready(function(){
  var following_user = [];
  <%if(follow){%> 
<% follow.forEach(function(el,index){%>
  following_user.push('<%=el%>');
  <%});%>
  <%}%>

following_user.forEach(function(el,index){
  $(".following[username='"+el+"']").removeClass("follow").addClass("unfollow").html("Dejar de Seguir");
});
  //y hago $(".following[data-username=elemento]").removeClass("follow").addClass("unfollow");
});
</script>

<!-- BEGIN SOCKET FOLLOW-->
<script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

     var host = window.location.host.split(':')[0];
        var socket = io.connect('http://' + host, {reconnect:false, 'try multiple transports':false});
        var intervalID;
        var reconnectCount = 0;

        socket.on('connect', function () {
            console.log('connected');
        });
        socket.on('connecting', function () {
            console.log('connecting');
        });


        </script>
<script type="text/javascript">
  $(document).ready(function(){
      /* BEGIN FOLLOW*/
         $('.thumbnails').on('click', '.follow', function(e) {
             e.preventDefault();
             socket.emit("follow_user",JSON.stringify({"user":'<%=user.username%>',"follow_to":$(this).data("username")}));
             //console.log("socket:"+socket.id);
            console.log("follow");
            $(this).text("Dejar de seguir");
            $(this).removeClass("follow");
            $(this).addClass("unfollow");
            
        });
          $('.thumbnails').on('click', '.unfollow', function(e) {
             e.preventDefault();
             socket.emit("unfollow_user",JSON.stringify({"user":'<%=user.username%>',"follow_to":$(this).data("username")}));
            console.log("unfollow");
            $(this).text("Seguir");
            $(this).removeClass("unfollow");
            $(this).addClass("follow");
        });
       $('.not-follow').click(function(e){
        e.preventDefault();
        alert("debe loguearse");
       });
       /* END FOLLOW*/
  });
</script>
<!-- END SOCKET FOLLOWf-->

<script type="text/javascript">
  $("#set_city_age").click(function(e){
e.preventDefault();
var city = $("#set_city").val();
var birthday = $("#set_bithday").val();
//aca hago guardado con mongoDB.
$.ajax( { url: 
  'https://api.mongolab.'+'com/api/1/databases/heroku_app12042861/collections/users?'+'apiKey=ow2pQfeu77QiWIfth6rKt1C0wReEOct6&'+'q={"username":"<%=user_obj.username%>"}',
          data: JSON.stringify( { "$set" : { "location" : city,"birthday":birthday,"set_explore":1 } } ),
          type: "PUT",
          contentType: "application/json" } ).done(function(data){
            $(".box_age_city").hide(600);
          });
  });
</script>
  </body>
</html>
