<html>
<head>
    <meta property="fb:app_id"          content="275093569291809" /> 
<meta property="og:url"             content="http://chatme.fm" /> 
<meta property="og:title"           content="Crea tu perfil y chatea anonimamente con tus amigos!" /> 
<meta property="og:image"           content="http://www.marketlikeachick.com/wp-content/uploads/2009/06/chat-bubbles-150x150.png" /> 
<meta property="og:description"           content="En Chatme.fm te creas tu perfil y luego invitas a tus amigos a que chateen con vos!" /> 

<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<!--script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script> -->
<script src='http://datejs.googlecode.com/svn/trunk/build/date.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
  

  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<link rel="stylesheet" href="/client.css"/>

    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/social-buttons.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/style.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/custom.css" rel="stylesheet" />
     <link href="http://wbpreview.com/previews/WB009X3K4/buttons.css" rel="stylesheet" />
    












    
<style type="text/css">
    body{padding-top: 10px;}
    h1,h2,h3{color: rgb(41, 70, 125); }
</style>

</head>
<body>

      <div id='fb-root'></div>
  
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '275093569291809', // App ID from the App Dashboard
      channelUrl : 'http://chatme.fm/channel', // Channel File for x-domain communication
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });

    // Additional initialization code such as adding Event Listeners goes here

  };

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might 
  // contain some type checks that are overly strict. 
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>
    

    <script> 
      

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'http://chatme.fm',
          link: 'http://chatme.fm/nick/<%= user %>',
          picture: 'http://chatme.fm/image/chatme.png',
          name: 'Wow! Te animas a hablarme? ;)',
          caption: 'Chatea anonimamente conmigo en Chatme.fm!'
          //description: 'Using Dialogs to interact with users.'
        };

        function callback(response) {
          //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
        ////////////////////////////////////

     
    </script>


 <!-- <b>Server: </b><%= server %> -->
 <div class="container-narrow">
 <style>
#beep-one{
  display: none;
}

 </style>
<audio id="beep-one" controls="controls" preload="auto">
        <source src="/sounds/beep.mp3">
        <source src="/sounds/beep.ogg">
        Your browser isn't invited for super fun time.
      </audio>
<% if(user) { %>
<b>User: </b> 
<span id="user"><%= user %></span> 
<a href="/logout" style='color:blue;text-decoration: underline'> Log out</a>


<p style="text-align:center">

    
    Comparti este link en las redes sociales: <b>http://chatme.fm/nick/<%= user %></b><br/>
    <a class="btn" style='text-align:center' onclick='postToFeed(); return false;'>Click para postear en tu muro el link!</a>
     <input class="btn" type="button"
      onclick="sendRequestViaMultiFriendSelector(); return false;"
      value="Invita a tus amigos a usar Chatme.fm"
    />
</p>

<script type="text/javascript">
     function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'Chatea conmigo en Chatme.fm!'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
        var data = {};
        data.request_id = response.request;
        data.to = response.to;
        data.created_at = new Date();
        data.user = '<%= user %>';
        //alert(JSON.stringify(response));return true;
        $.ajax( { url: "https://api.mongolab.com/api/1/databases/heroku_app12042861/collections/requests?apiKey=ow2pQfeu77QiWIfth6rKt1C0wReEOct6",
          data: JSON.stringify( data ),
          type: "POST",
          contentType: "application/json" } ).done(function(data){
                                                          //alert(JSON.stringify(data));
                                                           console.log("enviado"+JSON.stringify(data));
                                                          
                                                      });


          

      }
</script>
<% }else{ %>

<style type="text/css">
  
  body { background: white url('image/blue1920.jpg');
       background-attachment: fixed }
  #ask{display: none;}
</style>
<!--NO LOGIN -->
<div style="width:100%;text-align:center">
  <p> <img src="/image/chatme_logo.png" /></p>
  <p><a id="login_fb" class="btn btn-large btn-brand-facebook">
    Entrar con Facebook ahora!
   </a></p>
</div>

<div class="row" >
  <div class="span12">
    <h2 style="color:white;margin-top:25px;margin-bottom:25px;"> Mira quien esta aqui! Anímate y chatea con uno de ellos!</h2>
  </div>
 </div>
<div class="row" >

      <% for(var i=0; i<users.length; i++) { %>
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con <%= users[i].name %>" data-toggle="tooltip"  alt="" target="_blank" href="/nick/<%= users[i].username %>">
    <img width="100"  src="https://graph.facebook.com/<%= users[i].id %>/picture?width=100&height=100" />
    </a>
    </div>
    <% } %>
  <div style="clear:both"></div>
</div>

<!--NO LOGIN  END-->
<% } %> 

<div id="ask" class="bordered" style="display: none;">
     <input style="height:50px;display:none" type="text" id="name"/> <a href="#"><span style="display:none" class="btn join">Join!</span></a>
</div>
<div id="channel" class="bordered" style="display: none;">
<!-- <h4>Server: <%= server %> - conectado como  <%= user %></h4> -->
<ul class="nav nav-tabs" id="myTab">
  
</ul>

<script>
  $('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
 <ul class="tabs">
    
  </ul>

    <div id="msgs">
        <div class="panes">
        <div class="tab-content">
 
</div>
  </div>

        <ul>
            <li class="message" style="display: none">
                <span class="user"></span><span class="message"></span>
                <span class="time"></span>
            </li>
            <li class="control" style="display: none">
                <span class="user"></span>&nbsp;<span class="message"></span>
                <span class="time"></span>
            </li>
        </ul>
    </div>
    <div id="input">
        <form><input type="text" data-chat-to="" id="message"/></form>
    </div>
</div>


<!-- the tabs -->
 
 
  <!-- tab "panes" -->
  
<script type="text/javascript">
   

      $("#login_fb").click(function(e){
        e.preventDefault();
            //alert("login");
               FB.login(function(response) {
                   if (response.authResponse) {
                    //alert(response.authResponse);
                    //alert('Welcome!  Fetching your information.... ');
                     FB.api('/me', function(response) {
                                  var cover = "";
                                  

                                  FB.api('/me?fields=cover', function(response2) {
                                                  var response_json= response ;
                                                  if (typeof(response2.cover) == "undefined"){
                                                     cover_source= 'http://bit.ly/10gArc9';
                                                  }else{
                                                     cover_source= response2.cover.source;
                                                  }
                                                  response_json.request_ids = '<%=request_ids%>';
                                                  //alert("cover=="+cover_source);
                                                  response_json.cover_source = cover_source;
                                                  $.ajax( { url: "https://api.mongolab.com/api/1/databases/heroku_app12042861/collections/users?apiKey=ow2pQfeu77QiWIfth6rKt1C0wReEOct6&u=true&q={'id':'"+response.id+"'}",
                                                        
                                                        data: JSON.stringify( { "$set" : response_json} ),
                                                        type: "PUT",
                                                        contentType: "application/json" } ).done(function(data){
                                                          //alert(JSON.stringify(data));
                                                           $("#name").val(response.username);
                                                          $("#ask a").click();
                                                          
                                                      });
                                                      //end



                                  });
                                 
                                   
                                 
                     });
                   } else {
                     console.log('User cancelled login or did not fully authorize.');
                   }
                 },{scope:"email"});

        });
</script>
<style type="text/css">
   
.login_facebook {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:28px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #7cacde;
}.login_facebook:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color:#468ccf;
}.login_facebook:active {
    position:relative;
    top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
.x_close{
  position: relative;
top: -38px;
left: 35px;
color: red;
font-size: 10px;
cursor: pointer;
}
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39678978-1', 'chatme.fm');
  ga('send', 'pageview');
$("a").tooltip();
</script>
</div>
</body>
</html>