<html>
<head>
    
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<!--script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script> -->
<script src='http://datejs.googlecode.com/svn/trunk/build/date.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
<link rel="stylesheet" href="/client.css"/>

    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/social-buttons.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/style.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/custom.css" rel="stylesheet" />
     <link href="http://wbpreview.com/previews/WB009X3K4/buttons.css" rel="stylesheet" />
    
<style type="text/css">
    body{padding-top: 10px;}
    h1,h2,h3{color: rgb(41, 70, 125); }
</style>

</head>
<body>
      <div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    

    <script> 
      FB.init({appId: "275093569291809", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'http://chat123.com.ar',
          link: 'http://chat123.com.ar/nick/<%= user %>',
          picture: 'http://www.marketlikeachick.com/wp-content/uploads/2009/06/chat-bubbles-150x150.png',
          name: 'Wow! Te animas a hablarme?',
          caption: 'Chatea anonimamente conmigo en chat123!'
          //description: 'Using Dialogs to interact with users.'
        };

        function callback(response) {
          //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
        ////////////////////////////////////

     
    </script>
<h1>Chat123</h1>
 <!-- <b>Server: </b><%= server %> -->
 

 
<% if(user) { %>
<b>User: </b> 
<span id="user"><%= user %></span> 
<a href="/logout" style='color:blue;text-decoration: underline'> Log out</a>


<p style="text-align:center">

    
    Comparti este link en las redes sociales: <b>http://chat123.com.ar/nick/<%= user %></b><br/>
    <a class="btn" style='text-align:center' onclick='postToFeed(); return false;'>Click para postear en tu muro el link!</a>
</p>
<% }else{ %>
<div class="row-fluid">
    <div class="span12 pagination-centered">
   <a id="login_fb" class="btn btn-large btn-brand-facebook">
    Entrar con Facebook ahora!
   </a></div>



  
    





</div>
<div class="row" >
  <div class="span12">
    <h2> Chatea con mas de <%= users.length %> Usuario en Chat123</h2>
  </div>
  <div class="span3">
      <% for(var i=0; i<users.length; i++) { %>
    <a target="_blank" href="/nick/<%= users[i].username %>">
    <img  class="img-polaroid" src="https://graph.facebook.com/<%= users[i].id %>/picture?width=150&height=150" />
    </a>
    </div>
    <% } %>
  
</div>
<% } %> 

<div id="ask" class="bordered" style="display: none;">
     <input style="height:50px;display:none" type="text" id="name"/> <a href="#"><span style="display:none" class="btn join">Join!</span></a>
</div>
<div id="channel" class="bordered" style="display: none;">
<!-- <h4>Server: <%= server %> - conectado como  <%= user %></h4> -->
<ul class="nav nav-tabs" id="myTab">
  
</ul>

<script>
  $('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
 <ul class="tabs">
    
  </ul>

    <div id="msgs">
        <div class="panes">
        <div class="tab-content">
 
</div>
  </div>

        <ul>
            <li class="message" style="display: none">
                <span class="user"></span><span class="message"></span>
                <span class="time"></span>
            </li>
            <li class="control" style="display: none">
                <span class="user"></span>&nbsp;<span class="message"></span>
                <span class="time"></span>
            </li>
        </ul>
    </div>
    <div id="input">
        <form><input type="text" data-chat-to="" id="message"/></form>
    </div>
</div>


<!-- the tabs -->
 
 
  <!-- tab "panes" -->
  
<script type="text/javascript">
   

      $("#login_fb").click(function(e){
        e.preventDefault();
            //alert("login");
               FB.login(function(response) {
                   if (response.authResponse) {
                    //alert(response.authResponse);
                    //alert('Welcome!  Fetching your information.... ');
                     FB.api('/me', function(response) {
                                  var cover = "";
                                  

                                  FB.api('/me?fields=cover', function(response2) {
                                                  var response_json= response ;
                                                  if (typeof(response2.cover) == "undefined"){
                                                     cover_source= 'http://bit.ly/10gArc9';
                                                  }else{
                                                     cover_source= response2.cover.source;
                                                  }
                                                 
                                                  //alert("cover=="+cover_source);
                                                  response_json.cover_source = cover_source;
                                                  $.ajax( { url: "https://api.mongolab.com/api/1/databases/heroku_app12042861/collections/users?apiKey=ow2pQfeu77QiWIfth6rKt1C0wReEOct6&u=true&q={'id':'"+response.id+"'}",
                                                        
                                                        data: JSON.stringify( { "$set" : response_json} ),
                                                        type: "PUT",
                                                        contentType: "application/json" } ).done(function(data){
                                                          //alert(JSON.stringify(data));
                                                           $("#name").val(response.username);
                                                          $("#ask a").click();
                                                          
                                                      });
                                                      //end



                                  });
                                 
                                   
                                 
                     });
                   } else {
                     console.log('User cancelled login or did not fully authorize.');
                   }
                 },{scope:"email"});

        });
</script>
<style type="text/css">
   
.login_facebook {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:28px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #7cacde;
}.login_facebook:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color:#468ccf;
}.login_facebook:active {
    position:relative;
    top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
.x_close{
  position: relative;
top: -38px;
left: 35px;
color: red;
font-size: 10px;
cursor: pointer;
}
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39608692-1', 'chat123.com.ar');
  ga('send', 'pageview');

</script>
</body>
</html>